on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
name: Continuous Integration

jobs:
    test:
        name: Test Suite ${{ matrix.job.target }} (${{ matrix.job.libcec }} pkg-config=${{ matrix.job.pkg-config || false }})
        runs-on: ${{ matrix.job.os }}
        strategy:
            matrix:
                job:
                    - os: ubuntu-latest
                      target: aarch64-unknown-linux-gnu
                      use-cross: true
                      libcec: vendored-libcec
                      expected_libcec_abi: 6
                    - os: ubuntu-latest
                      target: i686-unknown-linux-gnu
                      use-cross: true
                      libcec: vendored-libcec
                      expected_libcec_abi: 6
                    - os: ubuntu-latest
                      target: arm-unknown-linux-gnueabi
                      use-cross: true
                      libcec: vendored-libcec
                      expected_libcec_abi: 6
                    - os: ubuntu-latest
                      target: armv7-unknown-linux-gnueabihf
                      use-cross: true
                      libcec: vendored-libcec
                      expected_libcec_abi: 6
                    - os: ubuntu-latest
                      target: mips-unknown-linux-gnu
                      use-cross: true
                      libcec: vendored-libcec
                      expected_libcec_abi: 6
                    - os: ubuntu-latest
                      target: mips64-unknown-linux-gnuabi64
                      use-cross: true
                      libcec: vendored-libcec
                      expected_libcec_abi: 6
                    - os: ubuntu-latest
                      target: mips64el-unknown-linux-gnuabi64
                      use-cross: true
                      libcec: vendored-libcec
                      expected_libcec_abi: 6
                    - os: ubuntu-latest
                      target: mipsel-unknown-linux-gnu
                      use-cross: true
                      libcec: vendored-libcec
                      expected_libcec_abi: 6
                    - os: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                      use-cross: false # Not run in cross so that EXPECTED_LIBCEC_VERSION_MAJOR shows inside the test
                      libcec: vendored-libcec
                      expected_libcec_abi: 6
                    #
                    # libcec discovery with pkg config
                    #
                    - os: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                      use-cross: false # Important that we do not run cross so package install shows up
                      libcec: libcec4
                      libcec-dev: libcec-dev
                      pkg-config: true
                      expected_libcec_abi: 4
                    - os: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                      use-cross: false # Important that we do not run cross so package install shows up
                      libcec: libcec6_6.0.2-1ubuntu1_amd64.deb
                      libcec-dev: libcec-dev_6.0.2-1ubuntu1_amd64.deb
                      pkg-config: true
                      expected_libcec_abi: 6
                    #
                    # libcec discovery without pkg config
                    # We set LD_LIBRARY_PATH and C_INCLUDE_PATH for compiler to find the preinstalled libcec
                    #
                    - os: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                      use-cross: false # Important that we do not run cross so package install shows up
                      libcec: libcec4
                      libcec-dev: libcec-dev=4.0.4+dfsg1-4ubuntu3
                      pkg-config: false
                      expected_libcec_abi: 4
                      additional_env:
                          LD_LIBRARY_PATH: "/usr/lib/x86_64-linux-gnu/"
                          C_INCLUDE_PATH: "/usr/include/libcec/"
                    - os: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                      use-cross: false # Important that we do not run cross so package install shows up
                      libcec: libcec6_6.0.2-1ubuntu1_amd64.deb
                      libcec-dev: libcec-dev_6.0.2-1ubuntu1_amd64.deb
                      pkg-config: false
                      expected_libcec_abi: 6
                      additional_env:
                          LD_LIBRARY_PATH: "/usr/lib/x86_64-linux-gnu/"
                          C_INCLUDE_PATH: "/usr/include/libcec/"
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  submodules: recursive
            - name: Apt-get update
              run: sudo apt-get update -yq
            - name: Installing Rust toolchain
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  profile: minimal
                  target: ${{ matrix.job.target }}
                  override: true
            # libcec from apt repo:
            - if: ${{ !startsWith(matrix.job.libcec, 'vendored') && endsWith(matrix.job.libcec, '.deb') }}
              name: Install libcec (manually downloaded .deb)
              run: |
                  sudo apt-get install -yq libudev-dev libp8-platform2 libp8-platform-dev
                  TEMP_DOWNLOAD="$(mktemp)" &&
                  wget -O "$TEMP_DOWNLOAD" 'http://se.archive.ubuntu.com/ubuntu/pool/universe/libc/libcec/${{ matrix.job.libcec }}' &&
                  sudo dpkg -i "$TEMP_DOWNLOAD"
                  rm -f "$TEMP_DOWNLOAD"
            # libcec-dev from apt repo:
            - if: ${{ endsWith(matrix.job.libcec-dev, '.deb') }}
              name: Install libcec-dev (manually downloaded .deb)
              run: |
                  sudo apt-get install -yq libudev-dev libp8-platform2 libp8-platform-dev
                  TEMP_DOWNLOAD="$(mktemp)" &&
                  wget -O "$TEMP_DOWNLOAD" 'http://se.archive.ubuntu.com/ubuntu/pool/universe/libc/libcec/${{ matrix.job.libcec-dev }}' &&
                  sudo dpkg -i "$TEMP_DOWNLOAD"
                  rm -f "$TEMP_DOWNLOAD"
            # libcec from apt repo:
            - if: ${{ !startsWith(matrix.job.libcec, 'vendored') && !endsWith(matrix.job.libcec, '.deb') }}
              name: Install libcec(-dev) and build dependencies
              run: sudo apt-get install -yq libudev-dev libp8-platform2 libp8-platform-dev ${{ matrix.job.libcec }} ${{ matrix.job.libcec-dev }}
            # additional build dependencies for non-cross builds with vendored libcec sources
            - if: ${{ startsWith(matrix.job.libcec, 'vendored') && !matrix.job.use-cross }}
              name: Install libudev-dev for non-cross vendored builds as libcec build dependency
              run: sudo apt-get install -yq libudev-dev
            # pkg-config install/remove
            - if: ${{ !startsWith(matrix.job.libcec, 'vendored') && matrix.job.pkg-config }}
              name: Install pkg-config for utilizing libcec from apt build dependency
              run: sudo apt-get install -yq pkg-config
            - if: ${{ !startsWith(matrix.job.libcec, 'vendored') && !matrix.job.pkg-config }}
              name: Remove pkg-config
              run: sudo apt-get remove -yq pkg-config
            - name: Cargo test
              env:
                  EXPECTED_LIBCEC_VERSION_MAJOR: ${{ matrix.job.expected_libcec_abi }}
                  LD_LIBRARY_PATH: ${{ matrix.job.additional_env.LD_LIBRARY_PATH }}
                  C_INCLUDE_PATH: ${{ matrix.job.additional_env.C_INCLUDE_PATH }}
              uses: actions-rs/cargo@v1
              with:
                  command: test
                  use-cross: ${{ matrix.job.use-cross }}
                  args: --target ${{ matrix.job.target }} -vv

    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  submodules: recursive
            - name: Rustfmt check
              uses: actions-rs/cargo@v1
              with:
                  command: fmt
                  args: -- --check
            # need to use cross to setup dependencies
            - name: Clippy Check
              uses: actions-rs/cargo@v1
              with:
                  use-cross: true
                  command: clippy
                  args: -- --target x86_64-unknown-linux-gnu -D warnings